<nav class="navbar navbar-expand-lg navbar-info bg-dark bg-hover">
  <div class="container">
    <a routerLink="dashboard" class="navbar-brand bg-hover-zoom px-3">Smart School</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="alunos" class="nav-link" aria-current="page">Alunos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="professores" class="nav-link">Professores</a>
        </li>
      </ul>
      <div class="btn-group px-5" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn dropdown-toggle btn-light bg-primary text-light bg-hover"
          aria-controls="dropdown-basic"

        >
          Prodossimo <span class="caret"></span>
        </button>
        <ul
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item" routerLink="perfil">Perfil</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
